@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 85px;
    --secondary-color: #feda6a;
    --primary-color: #1d1e22;
    --dark-color: #393f4d;
    --light-color: #f0f0f0;
    --white-color: #fff;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

/* bootstrap updated classes start */
/* backgrounds start */
.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

.bg-light {
    background-color: var(--light-color) !important;
}
/* backgrounds end */




/* text color start */
.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-dark {
    color: var(--dark-color) !important;
}

.text-light {
    color: var(--light-color) !important;
}
/* text color end */


/* Buttons start */
.btn-dark {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
    border: 0px !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border: 0px !important;
}

.btn-secondary {
    background-color: var(--secondary-color) !important;
    color: var(--dark-color) !important;
    border: 0px !important;
}

.btn-dark:hover {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

.btn-primary:hover {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
}

.btn-secondary:hover {
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
    border: 0px !important;
}
/* Buttons end */



/* margins start */
.mt-100px {
    margin-top: 100px !important;
}
/* margins end */

/* datatable search start */
.dataTables_filter label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
}
.dataTables_filter label input{
    border-radius: 15px !important;
    background-color: var(--light-color) !important;
}

.dataTables_empty {
    font-size: 12px;
}
/* datatable search end*/


/* datatable entries start*/
.dataTables_length label {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.dataTables_length label select {
    width: 50px !important;
    height: 20px !important;
    margin: 0px 5px !important;
    border-radius: 15px !important;
    padding: 5px !important;
    padding-left:8px !important ;
}
/* datatable entries end*/


/* datatable pagination start*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0px !important;
    padding: 0px !important;
}

.dataTables_info {
    font-size: 12px;
    margin-left: 5px;
}
/* datatable pagination end*/


/* tables */
.table.primary-header thead tr {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color);
}

.table.stripes tbody tr:nth-child(even) {
    background-color: var(--light-color) !important;
}

.table.stripes tbody tr:nth-child(odd) {
    background-color: var(--white-color) !important;
}
/* bootstrap updated classes end*/

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none
}

/* navbar start */
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--primary-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--primary-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav::-webkit-scrollbar {
    width: 2px;
}

.nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--primary-color);
    border-radius: 10px;
}

.nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--primary-color);
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--secondary-color)
}

.nav_logo-name {
    color: var(--secondary-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--light-color);
    margin-bottom: 0.5rem;
    transition: .3s
}

.nav_link i {
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
}

.nav_link:hover {
    color: var(--secondary-color)
}

.nav_icon {
    font-size: 1.25rem
}

.nav-show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--secondary-color)
}

.active i {
    color: var(--secondary-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--secondary-color)
}

.height-100 {
    height: 100vh
}

/* navbar end */


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    /* navbar start */
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .nav-show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }

    /* navbar end */
}
